# Unity 特定文件
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# 内存和缓存文件
*.sysinfo
*.sln
*.csproj
*.unityproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Unity3D 生成文件
*.pidb.meta
*.pdb.meta

# 资源包
/[Aa]ssets/AssetStoreTools*

# 自动生成的文件
.vs/
.gradle/
Export/
[Ee]xports/
*.apk
*.unitypackage

# 特定平台文件
/[Aa]ssets/Plugins/Android/

# 缓存目录
/[Cc]ache/
/[Cc]aches/
